body {
    padding: 0.5rem;
    background: #dedede;
}

.container {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 250px;
    margin-bottom: 38.37px;
    border-radius: 20px;
}

.description {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    padding: 11.87px 16px;
    border-radius: 20px 20px 0 0;
}

.image-infos {
    display: flex;
    justify-content: space-between;
    padding: 11.87px 16px;
    border-radius: 0 0 20px 20px;
    flex-wrap: wrap;
}

.description,
.image-infos {
    background: white;
}

.info-container {
    display: flex;
}

.preposition {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    margin-right: 15.04px;
    width: 30px;
}

.auth {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #e61577;
}

.date {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-right: 2rem;
    display: flex;
}

.auth,
.date {
    display: flex;
    align-items: center;
}